<ul class="uk-list uk-list-striped">
  <% for tag in BlogTag.all %>
    <% if tag.blog_posts.count > 0 %>
      <li>
        <div uk-grid>
          <div class="uk-width-expand">
            <%= link_to tag.name, blog_tag_path(tag) %>
          </div>
          <div class="uk-width-auto">
            <span class="uk-badge"><%=tag.blog_posts.count%></span>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
