<div class="uk-light uk-background-fixed uk-background-center-center uk-height-medium uk-width-1-1 uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://i.imgur.com/AMf9X7E.jpg);">
  <h1>Welcome to Dorp!</h1>
</div>
<% container do %>
  <div class="uk-width-1-1">
    <h2>About Dorp</h2>
    <p>
      Dorp is a website which has a Blog and Forums. More features will be comming in the future.
    </p>
    <h2>Join Us</h2>
    <p>
      You can join the Dorp community by <%= link_to 'signing up', new_user_registration_path %> and joining our <a href="http://matrix.dorp.ga/_matrix/client">Matrix</a> or <a href="https://discord.me/dorp">Discord</a>.
    </p>
  </div>
<% end %>
