<div class="uk-light uk-background-fixed uk-background-center-center uk-height-medium uk-width-1-1 uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://i.imgur.com/AMf9X7E.jpg);">
  <h1>Welcome to Dorp Beta!</h1>
</div>
<% container do %>
  <h2>Dorp</h2>
  <p>
    Dorp is a website which has a Blog and Forums. More features will be comming in the future.
  </p>
  <h2>Forums</h2>
  <p>
    Dorp has forums where you can express yourself. Unlike most forums, posts support titles and the editor is completly WYSIWYG meaning you don't have to learn any BBCode or Markdown.
  </p>
  <h2>Blog</h2>
  <p>
    Dorp has a Blog about mostly technology. Contact me if you want to write blog posts.
  </p>
  <h2>Join Us</h2>
  <p>
    You can join the Dorp community by <%= link_to 'signing up', new_user_registration_path %> and joining our <a href="http://matrix.dorp.ga/_matrix/client">Matrix</a> or <a href="https://discord.me/dorp">Discord</a>.
  </p>
<% end %>
