// Place all the styles related to the ForumThreads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forum-post-body {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.rolestyle-admin a {
  color: #f0506e;
}

.rolestyle-moderator a {
  color: #32d296;
}

.rolestyle-op a {
  font-weight: bold;
}
