<form action="<%=url_for(action: 'create', controller: 'forum_posts')%>" method="post" class="uk-margin-top">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" id="thread_thread_id" name="thread_id" value="<%= @forum_thread.id %>">
  <input type="text" name="forum_post[title]" value="RE: <%=@forum_thread.forum_posts.first.title%>" class="uk-input uk-margin-small-bottom">
  <textarea name="forum_post[body]"></textarea>
  <input type="submit" class="uk-button uk-button-primary">

  <script>
    var simplemde = new SimpleMDE();
  </script>
</form>
