<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />

    <title>Dorp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar="mode: click">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li>
            <a href="/">
              <span class="uk-visible@m">Home</span>
              <span class="uk-hidden@m" uk-icon="icon: home; ratio: 1.25"></span>
            </a>
          </li>
          <li>
            <a href="/blog">
              <span class="uk-visible@m">Blog</span>
              <span class="uk-hidden@m" uk-icon="icon: file-edit; ratio: 1.25"></span>
            </a>
          </li>
          <li>
            <a href="/forum">
              <span class="uk-visible@m">Forum</span>
              <span class="uk-hidden@m" uk-icon="icon: comment; ratio: 1.25"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <% if user_signed_in? %>
          <li>
            <a href="/accounts/edit">
              <span class="uk-visible@m">Account</span>
              <span class="uk-hidden@m" uk-icon="icon: user; ratio: 1.25"></span>
            </a>
          </li>
          <li>
            <a rel="nofollow" data-method="delete" href="/accounts/sign_out">
              <span class="uk-visible@m">Sign Out</span>
              <span class="uk-hidden@m" uk-icon="icon: sign-out; ratio: 1.25"></span>
            </a>
          </li>
        <% else %>
          <li>
            <a href="/accounts/sign_in">
              <span class="uk-visible@m">Sign In</span>
              <span class="uk-hidden@m" uk-icon="icon: sign-in; ratio: 1.25"></span>
            </a>
          </li>
          <li>
            <a href="/accounts/sign_up">
              <span class="uk-visible@m">Sign Up</span>
              <span class="uk-hidden@m" uk-icon="icon: plus; ratio: 1.25"></span>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
